<!Doctype html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static',filename='css/help.css' ) }}>
    <title>Help</title>
</head>

<body class="body">

    <div align="center" class="text">
        <h1 class="h1"><u>How To Play</u></h1>
        <h4 class="h4">1.Press Space To Jump</h4>
        <h4 class="h4">2.Collect Food To Score</h4>
        <h4 class="h4">3.Collect Gems To Multiply Score</h4>
        <h4 class="h4">4.Avoid Flying Eagles</h4>
        <h4 class="h4">5.Falling Off Tiles Kills You Instantly</h4>
        <h4 class="h4">6.Press Enter To Restart</h4>
        <h4 class="h4">7.Press d To Toggle Hitboxes</h4>
        <h1 class="h1"><u>SpeedRun Mode</u></h1>
        <h4 class="h4">1.Reach A Given Score Before Timer To Win</h4>

    </div>
    <script src={{ url_for( 'static',filename='javascript/home.js' ) }}></script>
</body>

</html>